*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    height: 800px;
    position: relative;
    margin: 1rem auto;
    text-align: center;
}
.firstrow{
    position: relative;
    padding-bottom: 2.5rem;
}
.product{
    background-color: #E7E7E7;
    width: 200px;
    height: 300px;
    display: inline-block;
}