*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    height: 800px;
    position: relative;
    margin: 1rem auto;
    text-align: center;
}
.row{
    position: relative;
}
.product{
    width: 200px;
    height: 335px;
    display: inline-block;
    margin: 5px;
    position: relative;
}
img{    
    width: 200px;
}
.hidden{
    position: absolute;
    top:0px;
    left: 0px;
    visibility: hidden;
}
.product:hover .hidden{
    visibility: visible;
}
/*prodotto*/

p{
    font-size: small;
    display: inline-block;
    position: absolute;
    bottom: 1px;
}
.badge{
    display: inline-block;
    position: absolute;
    bottom: 3.5rem;
    left:0px;
    color: white;
}
.three, .half{    
    background-color: red;
}
.sost{
    left:2rem;
    background-color: green;
}

.description{
    text-align: left;
    position: absolute;
    bottom:0%;
    left: 0px;
}
#heart{
    font-size: xx-large;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;    
}
