*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    height: 800px;
    position: relative;
    margin: 1rem auto;
    text-align: center;
}
.firstrow{
    position: relative;
    padding-bottom: 2rem;
}
.secondrow{
    position: relative;
    padding-bottom: 2rem;
}
.product{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: 5px;
}
img{    
    width: 200px;
}
.hidden_a{
    position: absolute;
    left: 286px;
    visibility: hidden;
}
.product:hover .hidden_a{
    visibility: visible;
}
.hidden_b{
    position: absolute;
    left: 500px;
    visibility: hidden;
}
.product:hover .hidden_b{
    visibility: visible;
}
.hidden_c{
    position: absolute;
    left: 714px;
    visibility: hidden;
}
.product:hover .hidden_c{
    visibility: visible;
}
/*prodotto*/
p{
    font-size: small;
    display: inline-block;
    position: absolute;
    bottom: 1px;
    left: 286px;
}
.badge{
    display: inline-block;
    position: absolute;
    bottom: 3.5rem;
    left: 286px;
}

.description{
    text-align: left;
}
.middle{
    position: absolute;
    bottom: 1px;
    left: 500px;
}
.three{
    position: absolute;
    bottom: 3.5rem;
    left: 500px;
    background-color: red;
    color: white;
}
.last{
    position: absolute;
    bottom: 1px;
    left: 714px;
}
.for{
    position: absolute;
    bottom: 3.5rem;
    left: 714px;
    background-color: red;
    color: white;
}
.half{
    background-color: red;
    color: white;
}
.sost{
    background-color: green;
    color: white;
}
